{% extends 'Login/base.html' %}
{% block titulo %}
Listado de Categoria
{% endblock titulo %}
{% block body %}
<div>
    <button class="btn btn-primary" type="button" onclick="abrir_modal_creacion('{% url 'nuevaCategoria' %}')">
        Nueva Categoria
    </button>
<div>
{% if categoria %}
<div class="container card">
    </div class="card-header">
        <strong class="card-title">Litado de Categorias</strong>
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <head>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Descripcion</th>
                    <th>Opciones</th>
                </head>
            </thead>
            <tbody>
                {% for p in clientes %}
                <tr>
                    <td>{{p.nombre}}</td>
                    <td>{{p.tipo}}</td>
                    <td>{{p.descripcion}}</td>
                    <td>{{p.opcion}}</td>

                    <td>
                        <button class="btn btn-primary" type="button"onclick="">
                            Categoria Actualizada
                        </button>
                    </td>>
                </tr>>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<h1>No Existen Categorias Registradas</h1>
{% endif %}
<div class="modal face" id="creacion" role="dialog">
</div>
<div class="modal face" id="edicion" role="dialog">
</div>
{% endblock body %}

{% block extrajs %}
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_creacion(url){
        $('#creacion').load(url, function(){
            $(this).modal('show');
        });
    }
    function abrir_modal_edicion(url){
        $('#edicion').load(url, function(){
            $(this).modal('show')
        })
    }
</script>
{% endblock extrajs %}