{% extends 'base.html' %}
{% block body %}
<div>
    <button class="btn btn-primary rounded m-2" type="button" onclick="abrir_modal_creacion('{% url 'crear_cliente' %}')">
        Nuevo Cliente
    </button>
</div>
{% if clientes %}
<div class="card">
    <div class="card-header">
        <strong class="card-title">Litado de Clientes</strong>
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Cedula</th>
                    <th>Direccion</th>
                    <th>Celular</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in clientes %}
                <tr>
                    <td style="color: black;">{{p.nombre}}</td>
                    <td style="color: black;">{{p.apellido}}</td>
                    <td style="color: black;">{{p.cedula}}</td>
                    <td style="color: black;">{{p.direccion}}</td>
                    <td style="color: black;">{{p.celular}}</td>
                    <td>
                        <button class="btn btn-warning rounded" type="button" onclick="abrir_modal_edicion('{% url 'editar_cliente' p.id %}')">
                            Editar
                        </button>
                        <button class="btn btn-danger rounded" type="button" >
                            Eliminar
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<h1>No Existen Cliente Registrados</h1>
{% endif %}
<div class="modal face" id="creacion" role="dialog">
</div>
<div class="modal face" id="edicion" role="dialog">
</div>

{% block extrajs %}
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_creacion(url){
        $('#creacion').load(url, function(){
            $(this).modal('show')
        })
    }
    function abrir_modal_edicion(url){
        $('#edicion').load(url, function(){
            $(this).modal('show')
        })
    }
</script>
{% endblock extrajs %}
{% endblock body %}

